<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Record Societari</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div style="min-height: 100%; background-image: url('assets/sfondo2.png'), url('assets/sfondo1.png'); padding: 0; padding-top: 2%; margin: 0%; background-size: 100%;">


  <table style="width: 100%;">
    <tr>

      <td style="text-align: center; width: 33%;">
          <select [(ngModel)]="cat" style="width: 90%;padding-left: 3%; color: white; font-size: 120%" class="styled-select blue semi-square">
              <option value="U20">U20</option>
              <option value="M20">M20</option>
              <option value="M25">M25</option>
              <option value="M30">M30</option>
              <option value="M35">M35</option>
              <option value="M40">M40</option>
              <option value="M45">M45</option>
          </select>
      </td>

      <td style="text-align: center; width: 33%;">
          <select [(ngModel)]="ses" style="width: 90%;padding-left: 3%; color: white; font-size: 120%" class="styled-select blue semi-square">
              <option value="0" selected="selected">Maschi</option>
              <option value="1">Femmine</option>
          </select>
      </td>
      
      <td style="text-align: center; width: 33%;">
          <select [(ngModel)]="lun" style="width: 90%;padding-left: 3%; color: white; font-size: 120%" class="styled-select blue semi-square">
              <option value="0" selected="selected">Corta</option>
              <option value="1">Lunga</option>
          </select>
      </td>

    </tr>
  </table>

  

    <div *ngFor="let key of recKey; let i = index" style="background-color: rgba(0, 23, 230, 0.8); margin: 3%; margin-bottom: 10%;">

      <div *ngIf="recordSocietari.records[key].categoria == cat && recordSocietari.records[key].sesso == ses && recordSocietari.records[key].lunghezza == lun">

      <table>
        <tr>
          <td style="width: 50%;">
            <p class="record">{{recordSocietari.records[key].gara}}</p>
          </td>
          <td style="width: 50%;">
            <p class="record">{{recordSocietari.records[key].luogo}}</p>
          </td>
        </tr>

        <tr>
            <td style="width: 50%;">
              <p class="record">{{recordSocietari.records[key].tempo}}</p>
            </td>
            <td style="width: 50%;">
              <p class="record">{{recordSocietari.records[key].nome}}</p>
            </td>
          </tr>
      </table>

    </div>
          
    </div>

  





    <div style="text-align: center; margin: 0%; padding: 0%;">
        <!--<ion-button primary (click)="insert()"  class="button"> Insert Base </ion-button> -->
        <ion-button primary (click)="addRecord()"  class="button"> Add Record </ion-button>    
    </div>


    </div>
  
</ion-content>
