
.pdf{

    color: white;
    text-align: center;
    margin: 0%;
    margin-bottom: 1%;
    font-weight: bold;
    padding-bottom: 8%;
    padding-top: 8%;

    background-color: rgba(0, 0, 53, 0.8);
}


tr:nth-child(even){
    background-color: rgba(70, 70, 119, 0.8);
}