<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      RISULTATI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div style="min-height: 100%; background: url('assets/sfondo2.png'), url('assets/sfondo1.png'); padding: 0; padding-top: 2%; margin: 0%; background-size: 100%;">

      <table style="width: 100%; margin-top: 5%;">
  <tr class="pdf" *ngFor="let p of res.pdfs; let i = index;" >

    <td style="width: 50%;">
      <p>{{p.nomeFile}}</p>
    </td>

    <td style="width: 50%;">
      <a  style="color: white; font-size: 200%;" href="{{p.pathFile}}" >
        <ion-icon icon="download">  </ion-icon>
      </a>
    </td>
  
  </tr>
  </table>

    </div>

</ion-content>