<ion-tabs>
  <ion-tab label="Atleti" icon="person" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Societari" icon="ribbon" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Risultati" icon="download" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <!--
  <ion-tab label="Comunicaz." icon="calendar" href="/tabs/(scheda:scheda)">
    <ion-router-outlet name="scheda"></ion-router-outlet>
  </ion-tab>
  -->
</ion-tabs>
