<ion-tabs>
  <ion-tab label="Records" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Records Societari" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Download PDF" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Comunicazioni" icon="contacts" href="/tabs/(scheda:scheda)">
    <ion-router-outlet name="scheda"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
