.gare{
    color: white;
    margin: 0%;
    margin-bottom: 1%;
    font-weight: bold;
}


.content{
    color: white;
    margin: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: bold;
}