


<ion-header>
  <ion-toolbar>
    <table style="width: 100%; table-layout: fixed">
      <tr>
        <td>
            <a href="/tabs/(home:home)"><img  src="assets/undo.png"></a>
        </td>
        <td>
            <ion-title style="text-align: center">Scheda</ion-title>
        </td>
        <td style="width: 33%">
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>

<ion-content>





<div [ngStyle]="setMyStyles()">

  <!--
<a href="/tabs/(scheda:scheda)">dsafsdf</a> -->

 <!-- <img style="padding: 0%; margin: -1%;" src="{{atleta.pathImage}}">
-->
  <div [ngStyle]="setStyleAtleta()">

    <div [ngStyle]="setMyStylesSuperiore()">

        <table style="width: 100%; table-layout: fixed;">
            <tr>
              <td style="width: 5%">
                  <p class="gare"> {{categoria}} </p>
              </td>

              <td style="width: 1%">
              </td>

              <td style="width: 33%">
                  <p class="gare" style=" margin: 0%; text-align: right; color: white;"> Nome: {{atleta.userName}}  {{atleta.userName}} </p>
              </td>
            </tr>
          </table>



       
    </div>



<table style="width: 100%; table-layout: fixed;">



  <tr>
     <td style="width: 60%">
     </td>

     <td style="width: 50%">
        <div>
            <div style="margin-top: 10%; border: 2px solid #e35f4e; border-radius: 15px; width: fit-content; max-width: 100%; min-width: 100%;">
                <table style="padding:0%; width: 100%; table-layout: fixed;  border-radius: 15px; background-color: darkblue;">
                    <tr>
                      <td></td>
                      <td><span class="oro"></span></td>
                      <td><span class="argento"></span></td>
                      <td><span class="bronzo"></span></td>
                    </tr>
  
                    <tr>
                        <td><p class="content">Si</p></td>
                        <td><p class="content">{{atleta.medaglieOro}}</p></td>
                        <td><p class="content">{{atleta.medaglieArgento}}</p></td>
                        <td><p class="content">{{atleta.medaglieBronzo}}</p></td>
                      </tr>
  
                      <tr>
                          <td><p class="content">St</p></td>
                          <td><p class="content">{{atleta.medaglieOroStaff}}</p></td>
                          <td><p class="content">{{atleta.medaglieArgentoStaff}}</p></td>
                          <td><p class="content">{{atleta.medaglieBronzoStaff}}</p></td>
                        </tr>
  
                  </table>
            </div>
          </div>
      </td>
  </tr>




  <tr>

    <td style="width: 60%">

      <div  [ngStyle]="setMyStylesLaterale()">
        <div style="padding: 20px">
            <p class="gareMigliori">Gare migliori</p>
            <p class="gareMigliori">{{atleta.gare[0].nomeGara}} ({{atleta.gare[0].categoria}}): {{atleta.gare[0].tempo}} {{atleta.gare[0].lunghezza}}</p>
            <p class="gareMigliori">{{atleta.gare[1].nomeGara}} ({{atleta.gare[1].categoria}}): {{atleta.gare[1].tempo}} {{atleta.gare[1].lunghezza}}</p>
            <p class="gareMigliori">{{atleta.gare[2].nomeGara}} ({{atleta.gare[2].categoria}}): {{atleta.gare[2].tempo}} {{atleta.gare[2].lunghezza}}</p>
            <p class="gareMigliori">{{atleta.gare[3].nomeGara}} ({{atleta.gare[3].categoria}}): {{atleta.gare[3].tempo}} {{atleta.gare[3].lunghezza}}</p>
        </div>
      </div>

    </td>

    <td style="width: 50%">
    </td>

      </tr>
      </table>


      <div [ngStyle]="setMyStylesInferiore()">
          <p class="gare"> Soprannome: #{{atleta.userName}} </p>
      </div>







   </div>
</div>




<div [ngStyle]="setMyStylesContent()">

<br>

    <p class="content" style="text-align: center">{{atleta.nome}} {{atleta.cognome}}  <span style="color: sandybrown">{{atleta.dataNascita}}</span></p>

    <p class="content" style="text-align: center">Anni Master: <span style="color: sandybrown">{{2018 - atleta.annoIscrizione}}</span></p>

    <p class="content" style="text-align: center">Gare svolte:  <span style="color: sandybrown">{{atleta.gareSvolte}}</span>  Squalifiche: <span style="color: sandybrown">{{atleta.squalifiche}}</span></p>

    <br>

    <p class="content" style="text-align: center">{{atleta.descrizione}}</p>

    <br>

    <p class="content" style="text-align: center"><span style="color: sandybrown">ALL RECORDS</span></p>

    <br>

    <p class="content" *ngFor="let g of atleta.gare">{{g.nomeGara}} ({{g.categoria}}): {{g.tempo}} {{g.lunghezza}} </p>



  

</div>
 


</ion-content>



