


<ion-header>
  <ion-toolbar>
    <ion-title>Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div style="min-height: 100%; background-image: url('assets/sfondo2.png'), url('assets/sfondo1.png'); padding: 0; padding-top: 2%; margin: 0%; background-position: center; background-size: contain;">




  <div style="text-align: center;">
    <p class="gare" style="padding: 3%; background-image: linear-gradient(#353faa, transparent);">ALLENATORE</p>
    <img  (click)="toScheda(atleta.pathCover)" src="{{atleta.pathCover}}" alt="Smiley face" width="25%">
  </div>

  <div style="text-align: center;">
    <p class="gare" style="padding: 3%; background-image: linear-gradient(#96b0da, #3880ff1f);">ATLETI</p>
  </div>
<a> 
  <img (click)="toScheda(key)" *ngFor="let key of atlKey; let i = index" src="{{atleti[key].pathCover}}" alt="{{atleti[key].userName}}" width="25%">
</a> 

<div>
  <ion-button primary (click)="insert()"  class="button"> Insert </ion-button>


  <ion-button primary (click)="addGara()" class="button"> Add Gara </ion-button>


</div>



</div>

</ion-content>