


<ion-header>
  <ion-toolbar>
    <ion-title>Records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div style="text-align: center">
  
    <img  (click)="toScheda(atleta.pathCover)" src="{{atleta.pathCover}}" alt="Smiley face" width="25%">
 
  </div>

     <a> 
  <img (click)="toScheda(key)" *ngFor="let key of atlKey; let i = index" src="{{atleti[key].pathCover}}" alt="{{atleti[key].userName}}" width="25%">
</a> 

<div>
  <ion-button primary (click)="insert()"  class="button"> Insert </ion-button>


  <ion-button primary (click)="addGara()" class="button"> Add Gara </ion-button>


</div>

</ion-content>